<h1>All Articles</h1>

<% @articles.each do |article| %>
	<div class="article">
		<h2><%= link_to article.title, user_article_path(article.user_id, article) %></h2>
			<ul>
				<li>written by: <%= link_to article.user.name, user_path(article.user_id) %></li>
				<li>snippet: <%= truncate(article.body, length: 140) %></li>
				<li>comments: # </li>
			</ul>
	</div>
<% end %>
