<h1><%= @article.title %></h1>

<h2>by <%= @user.name %></h2>

<p><%= @article.body %></p>

<h3>Comments</h3>

<p>comments go here</p>

<h3><%= link_to "Back to #{@user.name}'s Articles", user_path(@user) %></h3>
