<h1>All Users</h1>

<% @users.each do |user| %>
	<div class="user">
		<p><%= user.name %><span>&nbsp;&nbsp;&nbsp;</span><%= user.email %></p>
	</div>
<% end %>

<%= link_to 'Create New User', new_user_path %>
