<h1><%= @user.name %></h1>

<p>Email: <%= @user.email %> </p>
<h3>Articles:</h3>
	<% @user.articles.each do |article| %>
	<div class="article">
		<p><%= link_to article.title, user_article_path(@user, article) %></p>
		<p><%= truncate(article.body, length: 140) %></p>
	</div>
	<% end %>


